* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    width: 100%;
    height: 70%;  
 }

div.ContenedorPadre{
    position: sticky;
    margin: 15px;
    top: 0px;
    width: 98%;
    height: 8%;
    background-color: crimson;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 5;
    overflow: visible; 
}

.Texto{
    position: relative;
    z-index: 1;
}

ul > li > ul {
    
    display: none;     
}

ul > li:target > ul {
    
background: darkslategray;
display: block;
border-radius: 8px;
height: 63px;    
overflow: hidden;
}

.opcion {
    background: crimson;
    color: white;
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
 }

a { color: white;
    text-decoration: none;
}

.subOpcion {
    animation-name: example;
    animation-duration: 1s;
    background: darkslategray;
    color: white;
}

@keyframes example {
    from {height: 0%;}
    to {height: 35%;}
  }



